@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #66d2ec; /* fallback for old browsers */
  /* background: linear-gradient(to right, #9f89c5, #b89ee4); */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-page {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-field > input:focus {
  border-bottom: 1px solid #53c3df !important;
  -webkit-box-shadow: 0 1px 0 0 #3759f1 !important;
  box-shadow: 0 1px 0 0 #3759f1 !important;
}

.input-field > small {
  font-size: 1rem;
  color: #3759f1;
}

.input-field > span {
  font-size: 1.5rem;
  color: #53c3df;
  float: left;
}

.btn,
.btn:active,
.btn:hover {
  background: #8ddbee !important;
  width: 100%;
}

.error-msg {
  background: #3759f1;
  color: aliceblue;
  padding: 10px;
}

/*Dashboard CSS Starts!*/

.left-sidebar {
  height: 100vh;
  background-color: #8ddbee;
}

.row {
  margin-bottom: 0 !important;
}

.col {
  padding: 0 !important;
}

.heading-name {
  padding-left: 25px;
  font-style: bold;
  color: white;
  padding-top: 20px;
}

li.list-group-item a {
  color: white;
}

li.list-group-item {
  margin-bottom: 15px;
  cursor: pointer;
}

li.list-group-item a:hover {
  background-color: transparent;
}

.list-group-item:hover {
  border-bottom: 2px solid white;
  left: 0px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards;
  animation-delay: 2s;
}

.list-group-item {
  background-color: black;
  font-style: bold;
  font-size: 25px;
  padding: 10px;
  color: #fff;
}

.nav.nav-sidebar.list-group {
  margin-top: 40px;
}

.maincontent {
  margin-top: 45px;
  padding: 20px 5px;
}

@media (max-width: 992px) {
  .left-sidebar {
    display: none;
  }
}
